{% extends "authorized/layout.html" %}
{% block body %}
  <style>
  .login-body {
    max-width: 500px;
  }
  </style>
  <div class="container mt-5 login-body">
    <!-- กล่องข้อความต้อนรับ -->
    <h1 class="alert alert-info text-center">BUDGY</h1>
    <!-- แสดงข้อความจาก Django messages -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-warning{% endif %} text-center">
          <strong>{{ message }}</strong>
        </div>
      {% endfor %}
    {% endif %}
 <div class="card shadow-sm mt-4">
      <div class="card-body">
        <h4 class="card-title mb-3 text-center">Forgot Password</h4>
          <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Send Reset Link</button>
          </form>
      </div>
    </div> 
  </div>
{% endblock body %}