{% extends "home/layout.html" %}
{% block title %}
  Home
{% endblock title %}
{% block body %}
  <!-- Hero -->
  <section class="hero">
    <h1>'BUDGY' Manage Your Finances</h1>
    <p>Smart, Simple, and Stylish way to handle your money.</p>
  </section>
  <!-- Canva Embed -->
  <div class="embed-container">
    <iframe loading="lazy"
            src="https://www.canva.com/design/DAG2LcR2s3g/7J1Ntk9fi2PM4Z2yS63HhQ/view?embed"
            allowfullscreen>
    </iframe>
  </div>
  <!-- Team -->
  <section class="team">
    <h2>รายชื่อผู้จัดทำ</h2>
    <div class="container">
      <div class="row justify-content-center g-4">
        <div class="col-md-4 col-lg-3">
          <div class="p-3 member-card">
            <h5>พลกฤต กันยายน</h5>
            <p>6510615229</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="p-3 member-card">
            <h5>พลอยพรรณ เต็งประยูร</h5>
            <p>6510615245</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="p-3 member-card">
            <h5>อติชาต เพ็ญวงษ์</h5>
            <p>6610685015</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="p-3 member-card">
            <h5>กฤติน ด่านซ้าย</h5>
            <p>6610685031</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="p-3 member-card">
            <h5>ณัฐศิษฏ์ ฐิติธรรมคุณ</h5>
            <p>6610685155</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
